@charset "utf-8";
@import "_mixin";
@font-face{
    font-family: NTSans;
    font-weight: 300;
    src: url("../font/NotoSansKR-Light.woff2") format("woff2"),
    url("../font/NotoSansKR-Light.woff") format("woff"),
    url("../font/NotoSansKR-Light.otf") format("opentype");
}
@font-face{
    font-family: NTSans;
    font-weight: 400;
    src: url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face{
    font-family: NTSans;
    font-weight: 500;
    src: url("../font/NotoSansKR-Medium.woff2") format("woff2"),
    url("../font/NotoSansKR-Medium.woff") format("woff"),
    url("../font/NotoSansKR-Medium.otf") format("opentype");
}
@font-face{
    font-family: NTSans;
    font-weight: 700;
    src: url("../font/NotoSansKR-Bold.woff2") format("woff2"),
    url("../font/NotoSansKR-Bold.woff") format("woff"),
    url("../font/NotoSansKR-Bold.otf") format("opentype");
}
@font-face{
    font-family: Libre;
    font-weight: 400;
    src: url("../font/LibreBaskerville-Regular.woff2") format("woff2"),
    url("../font/LibreBaskerville-Regular.woff") format("woff"),
    url("../font/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face{
    font-family: Libre;
    font-weight: 700;
    src: url("../font/LibreBaskerville-Bold.woff2") format("woff2"),
    url("../font/LibreBaskerville-Bold.woff") format("woff"),
    url("../font/LibreBaskerville-Bold.ttf") format("truetype");
}

/* tag reset */
body, h1, h2, h3, h4, h5, h6, ul, p{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: inherit;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{color: inherit; text-decoration: none;}
button{border: none; background: none;}
img{vertical-align: top; max-width: 100%; height: auto;}
address{font-style: normal;}
header, nav, section, article, footer{display: block;}
input[type="text"], input::placeholder{color: #fff; font-weight: 300;}
input[type="text"]{border: none; background: none; font-family: inherit; padding: 0;}

/* common class */
.p_r{position: relative;}
.p_a{position: absolute;}
.f_l{float: left;}
.f_r{float: right;}
.clearfix::after{content: ""; display: block; clear: both;}
.sr-only{position: absolute; top: 0; left: -9999px;}
.c_ca1a37{color: #ca1a37 !important;}
.fade{opacity: 0;}

body{font-family: NTSans; font-weight: 400; font-size: 15px; color: #555; letter-spacing: -0.2px; word-break: keep-all;}
#wrap{min-width: 320px;}

/* header */
#header{
    position: fixed; top: 0; left: 0; width: 100%; height: 50px; background: #ca1a37; z-index: 900;
    .logo{
        position: absolute; top: 18px; right: 19px;
    }
}

.btn_menu{
    @include transition(all 0.5s);
    &, .line{position: absolute;}
    top: 15.5px; left: 19px; width: 22px; height: 22px; z-index: 1000;
    .line{
        @include radius(3px);
        @include transition(all 0.5s);
        width: 22px; height: 3px; left: 0; background: #fff;
        &.top{top: 0;}
        &.mid{top: 8px;}
        &.btm{top: 16px;}
    }
    &.active{ /* common.js에 넣어야 함 */
        &{left: 200px;}
        .line{background: #ca1a37;}
        .top{
            @include transform(rotate(45deg));
            top: 8px;
        }
        .mid{opacity: 0;}
        .btm{
            @include transform(rotate(-45deg));
            top: 8px;
        }
    }
}
#dim{display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.5);}
#gnb{
    *:focus{outline: 1px dotted #d58d3f;}
    left: -234px; visibility: hidden; 
    /* left: 0;  */ width: 234px; position: fixed; top: 0; bottom: 0; background: white; overflow-y: auto;
    .gnb_sign, .gnb_menu > li > a{font-size: 16px; font-weight: 700;}
}
.gnb_sign{
    color: #ca1a37; padding: 43px 0 24px 31px;
    a{position: relative; display: inline-block;}
    a:first-child::after{content: ""; position: absolute; top: 5px; left: 59px; width: 1px; height: 16px; background: #999;}
    a:last-child{margin-left: 30px;}
}
#navSearch{
    @include borderBox;
    position: relative; width: 234px; height: 82px; background: #ca1a37; line-height: 77px; padding-left: 31px;
    input[type="text"]{width: 172px; border-bottom: 1px solid #fff; padding-bottom: 5px;}
    .find_bt{position: absolute; top: 30px; right: 31px;}
}
.gnb_menu{
    > li{
        position: relative; 
        > a{display: block; padding: 20px 0 20px 31px;}
        &::before, &::after{content: ""; position: absolute; top: 32px; right: 31px; width: 15px; height: 2px; background: #555;}
        &::after{
            @include transform(rotate(90deg));
            @include transition(transform 0.5s);
        }
        &.on{
            color: #ca1a37;
            &::before, &::after{background: #ca1a37;}
            &::after{@include transform(rotate(0deg));}
        }
        ul{display: none;}
        ul li{
            @include borderBox;
            width: 234px; font-size: 14px; padding: 13px 0 0 41px; color: #555; background: #f0ece8;
            &:last-child{padding-bottom: 13px;}
        }
    }
}
/* footer */
#footer{
    width: 100%;
    div:nth-child(1){padding-top: 2em}
    ul{
        &:nth-child(1){width: 200px; margin: 0 calc(50% - (200px / 2)) 5%;}
        &:nth-child(2){width: 133px; margin: 0 calc(50% - (133px / 2)) 5%;}
        margin: 0 auto; text-align: center;
        li{
            float: left; margin-right: 5%;
            a{display: inline-block;}
            span{display: block;}
            &:last-child{margin-right: 0 !important;}
        }
    }
    div:nth-child(2){
        font-size: 85%; color: #8a8080; background: #f0ece8; padding-top: 2em; padding-bottom: 2em; text-align: center; line-height: 150%;
        address{margin-top: 5%;}
    }
}